body {
  margin: 0;
  color: #40514E;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;

}

h1 {
  font-size: 3rem;
  margin-left: 35%;
  margin-top: 12%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
  position: absolute;

}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin-left: 25%;
  margin-top: 18%;
  font-weight: normal;
  color: white;
  position: absolute;

}

h3 {
font-family: 'Montserrat', sans-serif;
font-weight: bold;
color: #11999E;

}

p {
    line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 180px auto;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6
}

.frase-celebre {
  position: absolute;
  color: white;
  margin: 30% auto auto 25%;
  font-size: 2rem;
}

.intro {
  width: 30%;
  margin: auto;
}


.top-container {

  position: relative;


}

.middle-container{
  margin: 100px 0;

}

.bottom-container{
  background-color: #3f72af;
  position: relative;
  padding: 50px 0 20px;

}

.data-Image {
  max-width: 100%;
  max-height: 100%;
}



}

.julioCordero{
  height: 250px;

}


.footer-link{
  color: black;

}

.skill-row1 {
  width: 50%;
  margin: 100px auto 160px auto;
  text-align: left;
}

.skill-row2 {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.lock {
  width: 40%;
  float: left;
  margin-right: 30px;
}

.server {
  width: 40%;
  float: right;
  margin-left: 30px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copy-right {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.linkedin-icon {
  width: 4%;
  color: #3f72af;
}

.watsApp-icon {
  width: 5%;

}
